

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .banner{
    background-color:#C6E4D6;
    background-size: cover;
    width:1280px;
    height:560px;
    border-radius:24px;
    margin:120px auto;
    display:flex;
    align-items: center;}

    .banner-content{
        margin: 0 60px;
    }
    .banner h5{
        color:#0E0E0E;
        opacity:50%;
        font-size: 24px;
        font-weight:500;
        margin:0;
    }
    .banner h1{
        color:#0E0E0E;
        font-size:56px;
        font-weight: 700;
        margin-top:16px
    }
    .banner button{
       
        width:270px;
        height:57px;
        border-radius: 8px;
        border:none;
    }
    .banner-image{
        margin-left: 64px;
        margin-right:60px;
    }
    /* shared styles */

    .btn-primary{
        background-color:#006A50;
        font-size: 18px;
        font-weight: 600;
        color:white;
    }
    .same2, .{
        color:#0E0E0E;
        font-size:40px;
        font-weight: bold;
    }

    /* vision section */
    .visions{
        width:1280px;
        height:409px;
        margin:120px auto;

    }
    .vision-container{
        display:flex;
        gap:24px;
    }
    .vision{
        padding:32px;
    }
    #vision1{
        background-color:#abc5f1;
    }
    #vision2{
        background-color:#C6E4D6;
    }
    #vision3{
        background-color:#F7EBCF;
    }
    .subtitle{
        color:#0E0E0E;
        font-size:20px;
        font-weight:bold;
        opacity:80%;
    }
    .same{color:#0E0E0E;
          opacity:70%;
          font-size:16px;
          font-weight:400; }

        #btn1{
            background-color: #5490F5;
          width:122px;
          height:41px;
          border-radius: 8px;
          border:none;
          font-size: 18px;
        font-weight: 600;
        color:white;}

          #btn2{
            background-color: #09A15C;
          width:122px;
          height:41px;
          border-radius: 8px;
          border:none;
          font-size: 18px;
          font-weight: 600;
          color:white;
          }
          #btn3{
            background-color: #FFC239;
          width:122px;
          height:41px;
          border-radius: 8px;
          border:none;
          font-size: 18px;
          font-weight: 600;
          color:white;
          }
/*  recent news styles */

.recents{
    width:1280px;
    height:1406px;
    margin: 120px auto;
}

.news{
    display:flex;
    gap:32px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.inline{
    display:inline;
}
.satelite {
    width:408px;
    height:306px;
    border-radius: 24px;}

    .aljajeera{
        margin-bottom: 12px;
    }
    .bold{
        color:#0E0E0E;
        font-size: 32px;
        font-weight: bold;
        opacity: 80%;
        margin-bottom: 12px;
    }

    .read{
          width:122px;
          height:41px;
          border-radius: 8px;
          border:none;
          font-size: 18px;
          font-weight: 600;
          color:white;
          background-color:#006A50;
          font-size: 18px;
          font-weight: 600;
          color:white;
    }  
    .news2{
        display:flex;
        margin-top: 24px;
        gap:32px;
        box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06)
    }